# Dependencies
node_modules/

# Next.js
.next/
.turbo/
out/
.vercel/

# TypeScript
tsconfig.tsbuildinfo

# Env files
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log*

# Functions build outputs
functions/lib/
functions/node_modules/

# OS
.DS_Store
Thumbs.db
